* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: #e4e4e4;
}
header {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer {
  background-image: linear-gradient(to right, #333, #ccc);
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
}

.logo {
  padding: 10px;
  background-color: cadetblue;
  font-size: 1.5rem;
}

header > nav {
  display: flex;
  align-items: center;
}

header > nav > ul {
  display: flex;

  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header > nav > ul > li > a {
  font-weight: 700px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
}

.portada {
  background-image: url("https://picsum.photos/id/237/1100/600/?blur");
  height: 85vh;
  background-size: cover;
}
.section2 {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  padding: 60px 0;
  background-image: linear-gradient(to bottom, grey, white);
}

.tarjetas {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.cardgrid {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background: rgb(130, 135, 146);
  /* padding: 1rem; */
  cursor: pointer;
  /* transition: all 0.3s ease 0s; */
}
.cardgrid__image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}
.cardgrid__image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardgrid__content {
  padding: 20px;
}

.cardgrid__titulo {
  margin-bottom: 20px;
}

.cardgrid__info {
  display: flex;
}
